<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <div id="on-same-line">
        <h2 class="mb-4">Users <a class="btn btn-dark" th:href="@{/users/add}">ADD USER</a></h2>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <table id="example" class="table table-hover dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%; text-align: center;">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 101.5px;" aria-sort="ascending" aria-label="ID: activate to sort column ascending">ID</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 392.5px;" aria-label="Name: activate to sort column ascending">Username</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 392.5px;" aria-label="Name: activate to sort column ascending">Roles</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 292.5px;" aria-label="Phone: activate to sort column ascending">E-mail</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 292.5px;" aria-label="E-mail: activate to sort column ascending">Balance</th>
                        <th class="actions sorting_disabled" rowspan="1" colspan="1" style="width: 234px;" aria-label="Actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u : ${users}">
                        <td th:text="${u.id}"/>
                        <td th:text="${u.username}"/>
                        <td>
                            <ul style="list-style: none; display: inline;">
                                <li style="list-style: none; display: inline;" th:each="r : ${u.roles}" th:text="${r.name}" />
                            </ul>
                        </td>
                        <td th:text="${u.email}"/>
                        <td th:text="${u.balance}"/>
                        <td class=" actions">
                            <a th:href="@{'/users/edit/' + ${u.id}}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                            <a th:href="@{'/users/remove/' + ${u.id}}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: scripts"></div>

</body>
</html>