<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <div class="card mb-4">
            <div class="card-header bg-white font-weight-bold">
                Editing user's data
            </div>
            <div class="card-body">
                <h1>Edit user</h1>
                <form method="post" th:action="@{/users/edit}" th:object="${user}">
                    <input th:type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" name="username" type="text" id="username" th:field="*{username}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" name="password" type="text" id="password" th:field="*{password}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input class="form-control" name="email" type="text" id="email" th:field="*{email}" required>
                    </div>
                    <div class="form-group">
                        <label for="balance">Balance</label>
                        <input class="form-control" name="balance" type="number" step="0.01" id="balance" th:field="*{balance}" required>
                    </div>
                    <div class="form-group">
                        <label for="roles">Roles</label>
                        <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                            <option th:each="role : ${roles}"
                                    th:text="${role.name}"
                                    th:value="${role.id}"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a class="btn btn-primary" th:href="@{/users/}">Cancel</a>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: scripts"></div>

</body>
</html>